<h1 class="animated fadeIn fast"> Sobre la pagina COMIC APP</h1>
<hr>
<P class="animated fadeIn">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum est fugit illo, doloremque, vitae, excepturi dolorum error harum itaque porro a ducimus molestias atque culpa voluptatibus illum consectetur similique rem. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Aspernatur deleniti a soluta fugit? Nam sit quos modi voluptates repellendus labore sequi incidunt laudantium, voluptatibus ducimus! Veniam laboriosam nobis rem quibusdam?
</P>